.service-selection-title {
  margin: 90px 0 50px 0;
}
.services-margin {
  margin: 0.5rem 0;
}
.services-nota {
  margin: 1rem 0;
}
.navbar-logo {
  width: 90px;
  height: 100%;
  padding: 0.1rem;
}
.margin2rem {
  margin: 2rem 0;
}
.margin4rem {
  margin: 4rem 0;
}
#solicitaCotizacion {
  background-image: url("../images/logo/Isotipo-blanco-teotl-SemiTransparent17.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  padding: 4rem 0;
}

/* -------------------------------
-------Hero Home ----------------
*/
.heroHome {
  height: 800px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr) 70px 70px;
  background-image: url("../images/home/panorama-Monterrey-NL-OPT.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
  grid-template-areas:
    ". . . . . ."
    ". hht hht hht hht ."
    ". hht hht hht hht ."
    ". hht hht hht hht ."
    "hhi hhi hhi hhi hhi hhi"
    "hhc hhc hhc hhc hhc hhc";
}

.heroHome h1 {
  padding-top: 0;
  margin: 0;
}

.heroHome__title {
  grid-area: hht;
}
.heroHome__info {
  grid-area: hhi;
  background-color: rgba(247, 128, 52, 0.9);
}
.heroHome__info ul {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}
.heroHome__info ul li i {
  color: rgba(246, 15, 62, 0.9);
  padding: 0.5rem;
}
.heroHome__info ul li,
.heroHome__cotiza span {
  text-shadow: 1px 1px 1px #000;
  letter-spacing: 2px;
}
.heroHome__cotiza {
  grid-area: hhc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(246, 15, 62, 0.8);
}
.heroHome__cotiza .heroHome__cotiza-title {
  text-transform: uppercase;
  font-size: 1.8rem;
}
@media (min-width: 950px) {
  .heroHome {
    grid-template-areas:
      ". . . . . ."
      ". hht hht hht hht ."
      ". hht hht hht hht ."
      ". hht hht hht hht ."
      ". . . . hhc hhc"
      "hhi hhi hhi hhi hhc hhc";
  }
  .heroHome__cotiza {
    flex-direction: column;
  }
}
/* -------------------------------
-------Servicios ----------------
*/
.servicios {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 30px;
  background-image: url("../images/logo/Caracol-gris-teotl.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  grid-template-areas:
    " uno uno uno uno uno uno uno uno uno uno . ."
    " . . dos dos dos dos dos dos dos dos dos dos"
    " tres tres tres tres tres tres tres tres tres tres . ."
    " . . cuatro cuatro cuatro cuatro cuatro cuatro cuatro cuatro cuatro cuatro"
    " cinco cinco cinco cinco cinco cinco cinco cinco cinco cinco . ."
    " . . seis seis seis seis seis seis seis seis seis seis";
}

@media (min-width: 700px) {
  .servicios {
    grid-template-areas:
      " . uno uno uno uno uno dos dos dos dos dos ."
      " . uno uno uno uno uno dos dos dos dos dos ."
      " . tres tres tres tres tres cuatro cuatro cuatro cuatro cuatro ."
      " . tres tres tres tres tres cuatro cuatro cuatro cuatro cuatro ."
      " . cinco cinco cinco cinco cinco seis seis seis seis seis ."
      " . cinco cinco cinco cinco cinco seis seis seis seis seis .";
  }
}

.servicio1,
.servicio2,
.servicio3,
.servicio4,
.servicio5,
.servicio6 {
  width: 100%;
  /*height: 200px;
    border: 1px solid red;*/
  background-color: rgba(45, 45, 45, 0.6);
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.servicio1 {
  grid-area: uno;
}
.servicio2 {
  grid-area: dos;
}
.servicio3 {
  grid-area: tres;
}
.servicio4 {
  grid-area: cuatro;
}
.servicio5 {
  grid-area: cinco;
}
.servicio6 {
  grid-area: seis;
}
/* -------------------------------
-------BANNER ----------------
*/
.home_banner {
  width: 100%;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "lft lft lft"
    "rght rght rght";
  -webkit-box-align: center;
  align-items: center;
  justify-items: center;
}
@media (min-width: 700px) {
  .home_banner {
    grid-template-areas:
      "lft lft rght"
      "lft lft rght";
  }
}
.home_banner--duda {
  grid-area: lft;
}
.home_banner--info {
  grid-area: rght;
}
.home_banner--duda h5 {
  line-height: 65px;
  font-size: 3rem;
}
.home_banner--info p {
  text-align: center;
  font-size: 1.3rem;
}
/* -------------------------------
-------NUESTR EQUIPO ----------------
*/
#nuestroEquipo h2 {
  padding: 2rem 0;
}
#nuestroEquipo .card-grid__team-member {
  transition: 0.5s ease-in-out;
}
#nuestroEquipo .card-grid__team-member:hover {
  transform: scale(1.05);
}
.card-set__wrapper {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  border: 1px solid blue;
}
.card-wrapper {
  padding: 20px;
  -webkit-box-flex: 1;
  flex: 1 1 0px;
  border: 1px solid red;
  min-width: 450px;
  min-height: 450px;
}
.card-container {
  background-color: blue;
  padding: 10px;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.card-grid {
  width: 100%;
  height: 100%;
  min-height: 600px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-template-areas:
    "tm1 tm2 "
    "tm1 tm2 "
    "tm3 tm4 "
    "tm3 tm4 "
    "tm5 tm6 "
    "tm5 tm6 "
    "tm7 tm8 "
    "tm7 tm8 "
    "tm9 tm10 "
    "tm9 tm10 ";
  -webkit-box-align: center;
  align-items: center;
  justify-items: center;
}
@media (min-width: 700px) {
  .card-grid {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas:
      "tm1 tm1 tm1 tm1 tm2 tm2 tm2 tm2 tm3 tm3 tm3 tm3"
      "tm1 tm1 tm1 tm1 tm2 tm2 tm2 tm2 tm3 tm3 tm3 tm3"
      "tm1 tm1 tm1 tm1 tm2 tm2 tm2 tm2 tm3 tm3 tm3 tm3"
      "tm1 tm1 tm1 tm1 tm2 tm2 tm2 tm2 tm3 tm3 tm3 tm3"
      "tm4 tm4 tm4 tm4 tm5 tm5 tm5 tm5 tm6 tm6 tm6 tm6"
      "tm4 tm4 tm4 tm4 tm5 tm5 tm5 tm5 tm6 tm6 tm6 tm6"
      "tm4 tm4 tm4 tm4 tm5 tm5 tm5 tm5 tm6 tm6 tm6 tm6"
      "tm4 tm4 tm4 tm4 tm5 tm5 tm5 tm5 tm6 tm6 tm6 tm6"
      "tm7 tm7 tm7 tm7 tm8 tm8 tm8 tm8 tm9 tm9 tm9 tm9"
      "tm7 tm7 tm7 tm7 tm8 tm8 tm8 tm8 tm9 tm9 tm9 tm9"
      "tm7 tm7 tm7 tm7 tm8 tm8 tm8 tm8 tm9 tm9 tm9 tm9"
      "tm7 tm7 tm7 tm7 tm8 tm8 tm8 tm8 tm9 tm9 tm9 tm9";
  }
}
.card1 {
  grid-area: tm1;
}
.card2 {
  grid-area: tm2;
}
.card3 {
  grid-area: tm3;
}
.card4 {
  grid-area: tm4;
}
.card5 {
  grid-area: tm5;
}
.card6 {
  grid-area: tm6;
}
.card7 {
  grid-area: tm7;
}
.card8 {
  grid-area: tm8;
}
.card9 {
  grid-area: tm9;
}
.card10 {
  grid-area: tm10;
}

.card-grid__team-member-image {
  position: relative;
  background-color: #f78034;
}
.card-grid__team-member-image img {
}
.card-grid__team-member-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 5px;
  background-color: rgba(247, 128, 52, 0.5);
}
.card-grid__team-member-title h5,
.card-grid__team-member-title p {
  margin: 0;
  padding: 5px;
}

/* -------------------------------
-------FOOTER ----------------
*/

.container-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  -webkit-box-align: center;
  align-items: center;
  justify-items: center;
  grid-template-areas:
    "fleft"
    "fcenter"
    "fright";
}
@media (min-width: 700px) {
  .container-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "fleft fcenter fright";
  }
}
.footer-grid__left {
  grid-area: fleft;
}
.footer-grid__center {
  grid-area: fcenter;
  background-image: url("../images/fingerprint-2750393_1280.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer-grid__center h5,
.footer-grid__right h5 {
  color: #f78034;
}
.footer-grid__right {
  grid-area: fright;
}
.footer-grid__right ul li {
  margin: 0.5rem 0;
}
.container-grid h5 {
  text-transform: uppercase;
  line-height: 45px;
}
.footer-grid__left h5 {
  padding-bottom: 2rem;
}
.container-grid h5 span {
  color: #f78034;
}
.container-grid .footer-logo {
  max-width: 250px;
  margin: 1rem 0;
}
.footer-grid__center .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-grid__center .social-icons i {
  font-size: 2rem;
}
.footer-grid__center .social-icons a:hover {
  transform: scale(1.2);
}
.footer-grid__center .social-icons .facebook-icon {
  color: #3b5998 !important;
}
.footer-copyright__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
