img {
  width: 100%;
  height: auto;
}
h1 {
  line-height: 80px;
  letter-spacing: 3px;
  font-family: rubik, "Helvetica Neue", sans-serif;
  text-shadow: 1px 1px 1px #000;
}
h2 {
  text-transform: uppercase;
  line-height: 75px;
  letter-spacing: 4px;
  font-family: Nunito, "Helvetica Neue", sans-serif;
  font-weight: 700;
  text-shadow: 1px 1px 1px #000;
}
h5 {
  text-shadow: 1px 1px 1px #000;
}
body {
  font-family: roboto, "Helvetica Neue", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(45, 45, 45, 0.9);
}
/*--------------------------
------ Mobile Menu --------
---------------------------*/
.Mobile-logo {
  max-width: 170px;
}
/*--------------------------
------ Materialize --------
---------------------------*/
/* #solicitaCotizacion input::placeholder {
  color: red !important;
} */
.parallax-container {
  height: 600px;
}
.parallax {
  position: relative;
}
.parallax::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 45, 45, 0.4);
}
nav ul li:hover {
  background-color: rgba(246, 15, 62, 0.7);
}
nav ul li.active {
  background-color: #f60f3e;
}
